<div class="item">
<!-- Режим чтения -->
@if (!editable) {
	<label [for]="item.description">{{ item.description }}</label>
	<div class="btn-wrapper">
		<button class="btn-icon" (click)="startEdit()">
			<i class="fas fa-pencil-alt"></i>
		</button>
		<button class="btn-icon btn-warn" (click)="remove.emit()">
			<i class="fas fa-trash"></i>
		</button>
	</div>
}

<!-- Режим редактирования -->
@if (editable) {
	<div class="edit-container">
		<input
			class="sm-text-input"
			placeholder="Редактировать заметку"
			[(ngModel)]="editText"
			(keyup.enter)="saveEdit()" />
		<div class="btn-wrapper">
			<button class="btn-icon" (click)="saveEdit()">
				<i class="fas fa-check"></i>
			</button>
			<button class="btn-icon btn-warn" (click)="cancelEdit()">
				<i class="fas fa-times"></i>
			</button>
		</div>
	</div>
}
</div>