.item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.btn-wrapper {
  display: flex;
  gap: 5px;
}

.btn-icon {
  background: none;
  border: 2px solid gray;
	border-radius: 20%;
  cursor: pointer;
  font-size: 16px;
  color: #666;
  transition: color 0.3s ease;
  padding: 8px;
}

.btn-icon:hover {
  background-color: #007bff;
}

.btn-warn:hover {
  color: #ff4444;
}

.edit-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sm-text-input {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  flex-grow: 1;
}

/* Основа для стилизации лэйбла */
/* [type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
} */

/* чекбокс */
/* [type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
} */

/* галочка для чекбокса */
/* [type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "\2713\0020";
  position: absolute;
  top: 0.15em;
  left: 0.22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #0d8dee;
  transition: all 0.2s;
  font-family: "Lucida Sans Unicode", "Arial Unicode MS", Arial;
} */
/* изменение галочки чекбокса */
/* [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
} */

/* доступность */
/* [type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
} */
